/*
style.css
*/

:root {
    --main-font: "Roboto";
    --dark-background-color: #1F2937;
    --main-text-color: #F9FAF8;
    --hero-secondary-color: #E5E7EB;
    --button-color: #3882F6;
}

/*
Type Selectors
*/

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font), sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

button {
    color: var(--main-text-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    width: 125px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    font-size: 18px;
    font-weight: 600;
}

h2 {
    margin: 0;
}


/*
Class Selectors
*/

.hero-content,
.icons,
.quote,
.sub-footer {
    height: 500px;
}

.hero,
.icons,
.quote,
.sub-footer,
.main-footer {
    padding-left: 300px;
    padding-right: 300px;
    width: 100%;
}

.hero {
    color: var(--main-text-color);
    background-color: var(--dark-background-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-text-color);
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-content-header {
    font-size: 48px;
    font-weight: 900;
}

.hero-content-description {
    color: var(--hero-secondary-color);
    font-size: 18px;
}

.hero-content-left {
    flex: 1;
}

.hero-content-right {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    border-radius: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icons-header {
    font-size: 36px;
    color: var(--dark-background-color);
    font-weight: 900;
}

.icons-content {
    display: flex;
    align-items: baseline;
    gap: 150px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-image {
    height: 130px;
    width: 130px;
    border-style: solid;
    border-color: var(--dark-background-color);
    border-radius: 10px;
}

.icon-description {
    width: 130px;
}

.quote {
    color: var(--dark-background-color);
    background-color: var(--hero-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.sub-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-footer-banner {
    height: 150px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--button-color);
    color: var(--main-text-color);
    border-style: solid;
    border-color: var(--button-color);
    border-radius: 10px;
}

.sub-footer-banner-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-footer-banner-description {
    margin-top: 5px;
    margin-bottom: 0;
}

.sub-footer-banner-right {
    border-color: var(--main-text-color);
}

.main-footer {
    color: var(--main-text-color);
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}